body {
    margin: 0;
    padding: 0;
}
.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
}
.hero img{
    width: 60vw;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.image-container {
    background-color: #66A8DA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-informacion {
    padding: 2rem;
    max-width: 70vw;
    max-height: 70vh;
    margin: 2rem;
}

.text-container {
    background-color: #66A8DA;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 4rem;
}

.text-block {
    grid-column-end: 3;
    text-align: flex-end;
    margin: 2rem;
    padding: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        text-align: left;
    }
}
.sub-title {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}
.pulmon-svg{
    width: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    fill: #66A8DA;
}
.servicios{
margin-top: 3rem;
    background-color: #66A8DA;
}
.contacto-flexbox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contacto-whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-decoration: double;
    color: #66A8DA;
    border: 1rem #333eFF;
    border-radius: 5%;
    margin-bottom: 1rem;
}
.footer{
    background-color: #66A8DA;
}